<a href="https://colab.research.google.com/github/lauraemmanuella/prog1/blob/main/nb5_String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variáveis string


---

O que vamos ver aqui?

1. indexação
2. cortes
3. propriedades das strings
4. métodos das strings
5. Operador in
6. Iterando os caracteres da string (for)
7. Exercícios

> As variáveis que armazenam textos ou cadeias de caracteres quaisquer são chamadas de `strings`

Chamamos cadeias de caracteres uma sequência de símbolos como letras, números, sinais de pontuação etc.

**Ao definir um valor para uma variável do tipo string, devemos colocar aspas antes e depois do valor**

In [ ]:
nome = 'Gabriel H' 
type(nome) #tipo da variável nome

str

Em geral, usamos aspas simples para marcar o conteúdo textual, **mas pode usar aspas duplas também**

>Se no conteúdo do texto precisar de aspas, **use aspas simples internamente e aspas duplas para a marcação da string**, como no exemplo abaixo (**ou o inverso**)

In [ ]:
print("conteúdo 'X' ")

conteúdo 'X'

In [ ]:
print('conteúdo "X" ')

conteúdo "X"

## 1. Indexação

É importante perceber que uma variável string é uma sequência de símbolos e que cada símbolo pode ser referenciado individualmente

> Para fazer essa referência individual de cada símbolo usamos colchetes `[]` após o nome da string e dentro dos colchetes colocamos o número que faz referência à posição desse símbolo na cadeia de caracteres

**Esse número de referência é chamado de índice**

* O primeiro símbolo da string está na posição de índice 0
* O último símbolo da string pode ser referenciado pelo número sequencial a partir do 0 ou pode ser referenciado por -1

In [ ]:
print(nome)

Gabriel H

In [ ]:
print(nome[0]) #primeiro caractere

G

In [ ]:
print(nome[-1]) #ultimo caractere

H

> Observe a imagem abaixo, onde temos uma string `'vaiprogramar'`. O primeiro símbolo `'v'` está na posição de índice 0, e assim sucessivamente, sendo que o último símbolo `'r'` está na posição de índice 11 **(ele é o 12º elemento da string)**

Como podemos referenciar o `'r'` pelo índice -1, então todos os demais símbolos também podem ser referenciados a partir do -1, como mostrado na parte superior da imagem



![string.png]()

In [ ]:
print(nome)

Gabriel H

In [ ]:
#O comando len informa a quantidade de caracteres que uma string possui
len(nome)

9

In [ ]:
#o ultimo caractere dessa string está no índice 8 (é o 9º caractere)
print(nome[8])

H

In [ ]:
print(nome[-9]) #primeiro caractere

G

## 2. Cortes

> Podemos usar `:` para executar cortes que retornam apenas um pedaço da string

In [ ]:
print(nome)

Gabriel H

In [ ]:
print(nome[2:]) #iniciando no índice 2 até o final

briel H

In [ ]:
print(nome[2:7]) #iniciando no índice 2 até o índice 6 (não inclui o 7)

briel

In [ ]:
print(nome[:7]) #do inicio até o índice 6 (nao inclui o 7)

Gabriel

In [ ]:
print(nome[:]) #inicio ao fim

Gabriel H

In [ ]:
print(nome[:-1]) #do inicio ao penultimo (o ultimo, -1, não está incluído)

Gabriel

In [ ]:
print(nome[0:9:2]) #inicio:fim:passos

GbilH

In [ ]:
print(nome[::2]) #mesma coisa (inicio:fim:passos)

GbilH

In [ ]:
nome = 'Matheus'
print(nome[::-1]) #inverte toda a string, pois os passos estão invertidos

suehtaM

## 3. Propriedades das Strings

As strings têm uma propriedade importante conhecida como **imutabilidade**. Isso significa que, uma vez que uma string é criada, **os elementos nela não podem ser alterados ou substituídos por indexação.**

> Ao tentar modificar um caractere da string, ocorre um erro informando que a string não suporta atribuição de item

In [ ]:
nome[0] = 'M'

TypeError: ignored

Mas, podemos **CONCATENAR** strings

> Concatenar significa juntar, então podemos juntar strings em uma única variável

In [ ]:
nome = nome + ' da Silva'
print(nome)

Gabriel H da Silva

Nesse código abaixo vamos redefinir a string nome para trocar o primeiro caractere dela

> Observe que não estamos modificando o caractere usando indexação, mas sim redefinindo a string toda usando concatenação para mudar parte dela

In [ ]:
#nesse caso estamos redefinindo toda a string nome
nome = 'M' + nome[1:] #concatena a letra M com os caracteres de nome do 1 até o final
print(nome)

Mabriel H da Silva

## 4. Métodos de strings

As variáveis do tipo string têm associadas a elas algumas funções de manipulação dos caracteres, como deixar tudo maiúsculo ou minúsculo, tirar espaços, etc..

> Essas funções são executadas sobre a variável string, como no exemplo abaixo, e por isso são chamadas **Métodos**

### UPPER

Retorna uma cópia da string com as letras em maiúsculo

In [ ]:
#Aqui estamos mostrando o conteúdo da variável nome em maiúsculo
print(nome.upper())

MABRIEL H DA SILVA

In [ ]:
# O método upper retornou o nome maiúsculo, mas a variável nao foi alterada
print(nome)

Mabriel H da Silva

É importante perceber que as funções aplicadas sobre as strings não alterar a variável, apenas retornam uma cópia com a alteração

> Podemos substituir a variável por essa cópia, se quisermos

`Ex: nome = nome.upper()`

### LOWER 

Retorna uma cópia da string com as letras em minúsculo

In [ ]:
#Aqui estamos mostrando o conteúdo da variável nome em minúsculo
print(nome.lower())

mabriel h da silva

### COUNT 

Retorna a quantidade de ocorrências de um caractere na string

In [ ]:
nome.count('a')

3

### REPLACE 

Retorna uma cópia da string alterando determinado caractere

In [ ]:
print(nome.replace(' ', '-'))

Mabriel-H-da-Silva

### SPLIT 

Retorna uma lista de elementos da string separada por determinado caractere

In [ ]:
#separa pelo espaço em branco
print(nome.split())

['Mabriel', 'H', 'da', 'Silva']

In [ ]:
print(nome.split('a'))

['M', 'briel H d', ' Silv', '']

**Depois estudaremos a estrutura lista, vista acima**

Para ver mais funções das strings, observe a documentação usando o help

In [ ]:
help(str)

## 5. Operador in

O operador in verifica se o operando à esquerda, está contido na estrutura à direita, da mesma forma que o operador not in que verifica o contrário.

Podemos verificar se uma determinado caractere ou palavra está contido em uma String, por exemplo.

> O operador in ou not in retorna True ou False

In [ ]:
nome = 'Laura Emmanuella Alves dos Santos Santana de Oliveira'


if 'Silva' in nome:
  print('\nFamília Silva')
else:
  print('\nNão é da família Silva')


if 'Santana' in nome:
  print('\nFamília Santana')
else:
  print('\nNão é da família Santana')

Não é da família Silva

Família Santana

## 6. Iterando os caracteres da string (for)

Como as strings são sequências de itens, podemos usar a estrutura for para percorrer esses itens (como fizemos com o range). Veja o exemplo abaixo:

In [ ]:
for i in nome:
  print(i)

M
a
b
r
i
e
l

H

d
a

S
i
l
v
a

> A função **enumerate** do Python gera uma tupla (conjunto fixo de valores, nesse caso 2 valores) em que **o primeiro elemento é o índice e o segundo elemento é o valor da sequência informada (nesse caso, a string)**

In [ ]:
for s in enumerate(nome):
  print(s)

(0, 'G')
(1, 'a')
(2, 'b')
(3, 'r')
(4, 'i')
(5, 'e')
(6, 'l')
(7, ' ')
(8, 'H')
(9, ' ')
(10, 'd')
(11, 'a')
(12, ' ')
(13, 'S')
(14, 'i')
(15, 'l')
(16, 'v')
(17, 'a')

## 7. Exercícios


---

1. Faça um programa que leia 2 nomes. O programa deve mostrar os nomes seguidos dos seus tamanhos e informar se os nomes são iguais, independente de estarem em maiúsculo ou minúsculo.

In [ ]:
#seu código aqui

Informe o primeiro nome: Laura
Informe o segundo nome: laura

Laura: 5 caracteres
laura: 5 caracteres

Nomes iguais

2. Faça um programa que leia o primeiro nome e o último nome do usuário em 2 variáveis; junte-as em uma única variável, mostrando-a na saída.

In [ ]:
#seu código aqui

Informe seu primeiro nome: Laura
Informe seu último nome: Santana
Nome completo: Laura Santana

3. Faça um programa que permita ao usuário digitar o seu nome e em seguida mostre o nome do usuário de trás para frente utilizando somente letras minúsculas

In [ ]:
#seu código aqui

Informe seu nome: Laura
arual

4. Faça um programa que solicite o nome do usuário e imprima-o na vertical.

In [ ]:
#seu código aqui

Informe seu nome: Laura
L
a
u
r
a

5. Dado uma string com uma frase informada pelo usuário, conte quantas vezes aparecem as vogais a, e, i, o, u.

In [ ]:
#seu código aqui

Informe uma frase: gentileza gera gentileza
Quantidade de letra a: 3
Quantidade de letra e: 5
Quantidade de letra i: 2
Quantidade de letra o: 0
Quantidade de letra u: 0

6. Um palíndromo é uma sequência de caracteres cuja leitura é idêntica se feita da direita para esquerda ou vice−versa. Por exemplo: OSSO e OVO são palíndromos. Faça um programa que receba uma palavra e informe se ela é um palíndromo.

In [ ]:
#seu código aqui

Informe uma palavra: Hannah

Hannah é um palíndromo

7. Faça um programa que solicite a data de nascimento (dd/mm/aaaa) do usuário e mostre dia, mês e ano separadamente.

**DICA:** Lembre que a função split retorna uma lista de elementos da string separada por determinado caractere. Para mostrar os elementos retornados, use indexação a partir do 0.

In [ ]:
#seu código aqui

Informe a data de nascimento: 11/06/2015
dia: 11
mês: 06
ano: 2015

### DESAFIOS

**[DESAFIO 1]** Em textos mais complexos os espaços e pontuações são ignorados. A frase SUBI NO ONIBUS é o exemplo de uma frase palíndroma onde os espaços foram ignorados. Altere o programa 6 para que ele analise uma frase (dica: remova os espaços da frase)

In [ ]:
#seu código aqui

Informe uma frase: subi no onibus

subi no onibus é um palíndromo

**[DESAFIO 2]** Modifique o programa 4 de forma a mostrar o nome em formato de escada.

**DICA:** Use 2 laços aninhados.

In [ ]:
#seu código aqui

Informe seu nome: laura
l
la
lau
laur
laura